.blog__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    margin: 58px 0px 14px 10px;
}

.blog-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 10px;
    margin-bottom: -39px;
}

.blog__item{
    max-width: 380px;
}

.blog_img{
    margin-bottom: 15px;
}

.blog__data{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    mix-blend-mode: normal;
    margin-bottom: 7px;
}

.blog__name{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: black;
}

.blog__name:hover,
.blog__name:active{
    text-decoration: underline;
}

.blog__information{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px; 
    padding-top: 15px;
    padding-bottom: 14px;
}

.pages{
    margin-bottom: 60px;
}