*{
    margin: 0;
    padding: 0;
    border: none;
}

.category__list {
    display: flex;
    max-width: 1086px;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 19px;

}

.category__item{
    position: relative;
}
.category__text{
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    position: absolute;
    left: 70px;
    top: 105px;
    max-width: 50%;
    text-align: center;
}

.category__text1{
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    position: absolute;
    max-width: 50%;
    text-align: center;
    left: 245px;
    top: 120px;
}

.category__text2{
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    position: absolute;
    max-width: 50%;
    text-align: center;
    left: 107px;
    top: 120px;
}

.category__text:hover,
.category__text1:hover,
.category__text2:hover{
    color: #FFFFFF;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 0px 0px 40px #93030340;
}

.category__text:active,
.category__text1:active,
.category__text2:active{
    color: #FFFFFF;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 0px 0px 40px #93030340;
}


.category__img1{
    padding: 46px 18px;
    background: #DBE4DB;
}

.category__img2{
    padding: 13px 36px;
    background: #EADDD3;
}

.category__img3{
    padding: 0px 5px;
    background: #F8F2DA;
}

.category__img4{
    margin-left: 200px;
    padding: 10px 20px;
    background: #D5D4E1;
}

.category__img5{
    padding: 10px 18px 10px 17px;
    background-color: #F3D0DB;
}

.category__img6{
    padding: 32px 3px;
    background-color: #E5EAF8;
}

.category__link{
    color: #FFFFFF;
}

.description__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;  
    margin-left: 211px;
    margin-bottom: 25px;
}

.description__list {
    display: flex;
    flex-direction: column;
    margin-left: 211px;
    gap: 15px;
}

.description__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 68%;
}

.footer{
    margin-top: 65px;
}