/* Общие стили*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style-type: none;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    min-width: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #1E0606;
}

a, 
a:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

button{
    border: none;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
}

header {
    display: flex;
    align-items: center;
}

.header__logo{
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header-nav__item{
    display: flex;
    align-items: center;
    text-transform: uppercase;
} 

.header-nav__item:not(:last-child) { 
    margin-right: 20px;
}

.header-search__list{
    display: flex;
    justify-content: end;
} 

.header-search__item:not(:last-child) {
    margin-right: 23px;
}

.header-nav__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    /* Black */

    color: #1E0606;
}

.footer {
    width: 100%;
    height: 555px;
    align-items: stretch;
    background-color: #434343;
}

.footer-block{
    display: flex;
    column-gap: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #666666;
/* Title two (small, gray) */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}

.footer-title{
    column-gap: 20px;
    border-bottom: 1px solid #666666;
}

.footer-end {
    display: flex;
    justify-content: space-around   ;
}

.footer__link {
    display: flex;
    padding: 15px;
    text-transform: capitalize;
    padding: 10px;
    color: #ffffff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.category__link {
    color: #FFFFFF;
}

.header-search__btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    /* Black */
    
    color: #1E0606;
}

.footer-social__list {
    display: inline;
}

.footer-hidden {
    opacity: 0;
}

.iformation__rating-group {
    position: relative;
    background-image: url(../pictures/Star.png);
    width: 70px;
    height: 18px;
    background-size: 18 auto;
}

.iformation__rating-star {
    position: absolute;
    height: 16px;
    top: 43px;
    left: 27px;
    margin: 0;
    font-size: inherit;
    appearance: none;
} 

.information__rating-star:nth-of-type(1) {
    z-index: 5;
    width: 3.6px;
}

.information__rating-star:nth-of-type(2) {
    z-index: 4;
    width: 7.02px;    
}

.information__rating-star:nth-of-type(3) {
    z-index: 3;
    width: 10.2px;
}

.information__rating-star:nth-of-type(4) {
    z-index: 2;
    width: 13.6px;
}

.information__rating-star:nth-of-type(5) {
    z-index: 1;
    width: 17.12px;
}