/* Общие стили*/
* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    min-width: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #1E0606;
}

a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
a:hover {
    text-decoration: none;
}

.footer {
    background-color: #434343;
}

.category__link {
    color: #FFFFFF;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.footer__link {
    color: #ffffff;
    font-family: 'Open Sans';
    font-style: normal;
}

.footer-title {
    color: #AAAAAA;
    font-family: 'Open Sans';
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    margin: 50px auto;
}

.container{
    max-width: 1400px;
    margin: 0px 135;
}

.header__nav-list {
    display: flex;
}

.header-nav__link {
    color: #1E0606;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.header-nav__link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    /* Black */

    color: #1E0606;

}

.header-nav__item{
    padding-left: 35px;
}

.header-search__list {
    display: flex;
    align-items: center;
    margin: 67.26px auto;
}

/* .iformation__rating-group {
    position: relative;
    width: 70px;
    height: 18px;
    background-image: url(../pictures/Star.png);
    background-size: 18 auto;
}

.iformation__rating-star {
    position: absolute;
    height: 16px;
    top: 43px;
    left: 27px;
    margin: 0;
    font-size: inherit;
    appearance: none;
} 


.information__rating-star:nth-of-type(1) {
    z-index: 5;
    width: 3.6px;
}

.information__rating-star:nth-of-type(2) {
    z-index: 4;
    width: 7.02px;    
}

.information__rating-star:nth-of-type(3) {
    z-index: 3;
    width: 10.2px;
}

.information__rating-star:nth-of-type(4) {
    z-index: 2;
    width: 13.6px;
}

.information__rating-star:nth-of-type(5) {
    z-index: 1;
    width: 17.12px;
} */