.banner{
    position: relative;
} 

.banner-title{
    position: absolute;
    width: 307px;
    height: 88px;
    left: 146px;
    top: 60px;
    line-height: 100%;
}

.banner-nav__list {
    margin-top: 129px;
    margin-left: 10px;
    width: 1180px;
    height: 371px;
    padding: 20px 0px;
    background: #EEE4DB;
}

.banner-nav{
    display: flex;
    margin: 11px 31px;
    max-width: fit-content;
}

.banner-btn__item{
    width: 31px;
    height: 3px;
    background: #D6CAC2;
}

.banner-btn__item:hover{
    background: #725F5B;
}

.banner-btn__item:active{
    background: #725F5B;
}

.active{
    background: #725F5B;
}

.banner-number {
    margin-left: 28px;
    margin-bottom: 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 100%;
    max-width: max-content;
    color: #1e06060d;
}

.banner-text{
    position: absolute;
    left: 146px;
    top: 193px;
    font-family: 'Crimson Text', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #1E0606; 
}

.banner-picture__img {
    position: absolute;
    width: 635px;
    left: 456px;
    top: -90px;
    z-index: 1;
}

.banner__btn{
    position: absolute;
    width: 161px;
    height: 40px;
    left: 144px;
    top: 243px;
    display: flex;
    align-items: center;
    background: #000000;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.bt-text{
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.shipping__text{
    font-family: 'Open Sans', Arial, sans-serif;
    width: 1180px;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    background: #C29974;
    text-align: center;
    padding: 11px 364px;
    text-transform: uppercase;
    margin-left: 10px;
}

.category__title{
    font-size: 38px;
    line-height: 100%;
    margin: 95px 11px 35px;
    max-width: 100%;
}

.category__list{
    display: flex;
    margin-left: 10px;
    margin-bottom: 27px;
    gap: 21px;
}

.category__link{
    width: 208px;
    height: 280px;
}

.category__img1{
    padding: 46px 18px;
    background: #DBE4DB;
}

.category__img2{
    padding: 13px 36px;
    background: #EADDD3;
}

.category__img3{
    padding: 0px 5px;
    background: #F8F2DA;
}

.category__img4{
    padding: 10px 20px;
    background: #D5D4E1;
}

.category__item{
    position: relative;
}
.category__text{
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    position: absolute;
    left: 70px;
    top: 105px;
    max-width: 50%;
    text-align: center;
}

.category__text:hover{
    text-decoration: underline;
}

.category__text:active{
    text-decoration: underline;
}

.toys{
    position: absolute;
    left: 103px;
    top: 120px;
    z-index: 1;
    max-width: 50%;
    text-align: center;
}

.accessories{
    position: absolute;
    left: 40px;
    top: 120px;
    z-index: 1;
    max-width: 50%;
    text-align: center;
}

.nav__info{
    display: flex;
    margin-left: 6px;
    margin-bottom: 88px;
}
.category-control-left{
    margin-left: 5px;
    width: 37px;
    height: 37px;
    background-image: url(/pictures/left.svg);
    background-repeat: no-repeat;
    background-color:#70bbdc33;
    background-position: center;
}

.category-control-right{
    margin-left: 5px;
    width: 37px;
    height: 37px;
    background-image: url(/pictures/right.svg);
    background-repeat: no-repeat;
    background-color:#70bbdc33;
    background-position: center;
}

.category__quote{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    max-width: 55%;
    margin-left: 21px;
}

.delivery{
    display: flex;
    margin-left: 10;
    gap: 60px;
}

.delivery__img{
    margin-left: 10px;
}

.delivery-list{
    flex-direction: column;
}

.delivery-title{
    margin: 30px 0px 6px 61px;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

.btn{
margin-bottom: 30px;
}

.delivery__btn{
    font-family: 'Crimson Text', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    background: none;
    margin-top: 17px;
    margin-left: 61px;
}

.delivery__text1{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 75%;
    margin: 32px 0px 15px 61px;
}

.delivery__text2{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 72%;
    margin: 15px 0px 15px 61px;
}

.learn{
    margin: 35px 0px 0px 61px;
}

.partners__list{
    margin: 41px 0px 0px 9px;
}

.delivery-btn{
    width: 149px;
    height: 43px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 22px;
    background: #000000;
}

.partners{
    display: flex;
    gap: 119px;
    margin-bottom: 40px;
}

.partners__list{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.about{
    display: flex;
    gap: 57px;
}

.about-list{
    margin-left: 10px;
    background: #E1F0F7;
    max-width: 543px;
}

.about-title{
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-left: 30px;
    margin-top: -25px;
}

.about-text{
    font-family: 'Crimson Text', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    padding: 10px 30px ;
}

.about-excerpt{
    display: flex;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    padding: 0px 25px 13px 30px;
}

.about-btn__itme{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 22px;
    background: #000000;
    margin: 7px 0px 0px 31px;
}

.about__title{
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: -22px;
    margin-top: -24px;
    margin-left: 31px;
}

.about-contacts-text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;  
    background: #E1F0F7;
    padding: 42px 40px 103px 31px;
    max-width: 543px;
}

.about__map{
    margin-top: -68px;
    margin-left: 33px;
}

