/* .banner-title{
    position: absolute;
    width: 307px;
    height: 88px;
    left: 243px;
    top: 320px;
}

.banner-text-contry{
    position: absolute;
    width: 151.12px;
    height: 26px;
    left: 243px;
    top: 428px;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.banner-picture__img {
    position: absolute;
    width: 635.49px;
    height: 461px;
    left: 555px;
    top: 142px;
}

.banner-nav__list {
    position: absolute;
    width: 1180px;
    height: 411px;
    left: 110px;
    top: 231px;
    background: #EEE4DB;
}

.banner-btn__item{
    position: absolute;
    width: 31px;
    height: 3px;
    left: 141px;
    top: 332px;
background: #1e060699;
}
 */
