.banner {
    position: relative;
    width: 1180px;
    background: #EEE4DB;
} 

.banner-title {
    margin: -85px 0 0px 133px;
    max-width: 48%;
}

.banner-nav__list {
    margin-top: 129px;
    padding: 20px 0px;
}

.banner-nav {
    display: flex;
    margin: 11px 31px;
    max-width: fit-content;
}

.banner-btn__item {
    width: 31px;
    height: 3px;
    background: #D6CAC2;
}

.banner-btn__item:hover {
    background: #725F5B;
}

.banner-btn__item:active {
    background: #725F5B;
}

.active {
    background: #725F5B;
}

.banner-number {
    margin-left: 28px;
    margin-bottom: 18px;
    font-family: 'Montserrat-ExtraLight', Arial, sans-serif;
    font-weight: 200;
    font-size: 60px;
    line-height: 100%;
    max-width: max-content;
    color: #1e06060d;
}

.banner-text {
    margin: 18px 0px 24px 134px;
    font-family: 'crimson_textregular', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #1E0606; 
}

.banner-picture__img {
    position: absolute;
    left: 446px;
    top: -89px;
    z-index: 1;
}

.banner__btn {
    margin: 0px 0px 89px 133px;
    padding: 9px 22px;
    background: #000000;
    font-family: 'OpenSans-Boldt', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.shipping__text {
    font-family: 'OpenSans-Boldt', Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    background: #C29974;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    width: 1180px;
}

.category__title {
    font-size: 38px;
    line-height: 100%;
    margin: 95px 0px 35px;
    max-width: 100%;
}

.category__list {
    display: flex;
    margin-bottom: 25px;
    gap: 21px;
}

.category__link {
    width: 208px;
    height: 280px;
    color: #FFFFFF;
}

.category__img1 {
    padding: 46px 18px;
    background: #DBE4DB;
}

.category__img2 {
    padding: 13px 36px;
    background: #EADDD3;
}

.category__img3 {
    padding: 0px 5px;
    background: #F8F2DA;
}

.category__img4 {
    padding: 10px 20px;
    background: #D5D4E1;
}

.category__item {
    position: relative;
}
.category__text {
    font-family: 'Montserrat-Bold', Arial, sans-serif;
    font-weight: 700;
    font-size: 26px;
    position: absolute;
    left: 70px;
    top: 105px;
    max-width: 50%;
    text-align: center;
}

.category__text:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.category__text:active {
    color: #FFFFFF;
    text-decoration: underline;
}

.toys {
    position: absolute;
    left: 103px;
    top: 120px;
    z-index: 1;
    max-width: 50%;
    text-align: center;
}

.accessories {
    position: absolute;
    left: 40px;
    top: 120px;
    z-index: 1;
    max-width: 50%;
    text-align: center;
}

.nav__info {
    display: flex;
    margin-left: -5px;
    margin-bottom: 89px;
}

.category-control-left {
    margin-left: 6px;
    width: 37px;
    height: 37px;
    background-image: url(/pictures/left.svg);
    background-repeat: no-repeat;
    background-color:#70bbdc33;
    background-position: center;
}

.category-control-left:hover {
    background-image: url(/pictures/hover.svg);
    transform: scale(-1, 1);
    background-repeat: no-repeat;
    background-color:#70bbdc33;
    background-position: center;
}

.category-control-left:active {
    background-image: url(/pictures/aktive.svg);
    transform: scale(-1, 1);
    background-repeat: no-repeat;
    background-color:#70bbdc33;
    background-position: center;
}

.category-control-right {
    margin-left: 5px;
    width: 37px;
    height: 37px;
    background-image: url(/pictures/right.svg);
    background-repeat: no-repeat;
    background-color:#70bbdc33;
    background-position: center;
}

.category-control-right:hover {
    background-image: url(/pictures/hover.svg);
    background-repeat: no-repeat;
    background-color:#70bbdc33;
    background-position: center;
}

.category-control-right:active {
    background-image: url(/pictures/aktive.svg);
    background-repeat: no-repeat;
    background-color:#70bbdc33;
    background-position: center;
}

.category__quote {
    font-family: 'OpenSans-Regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    max-width: 55%;
    margin-left: 21px;
}

.delivery {
    display: flex;
    gap: 60px;
    margin-bottom: 50px;
}

.delivery-title {
    margin: 30px 0px 6px 61px;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

.btn {
margin-bottom: 30px;
}

.delivery__btn {
    font-family: 'crimson_textregular', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    background: none;
    margin-top: 17px;
    margin-left: 61px;
}

.delivery__btn:hover {
    font-family: 'crimson_textbold', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;  
    color: #1E0606;
    background-color: #70bbdc33;
    padding: 11px 180px 11px 60px;
    margin-left: 1px;
    margin-top: 0;
    margin-bottom: -7px;
    max-width: 326px;
}

.delivery__text1 {
    font-family: 'OpenSans-Regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 75%;
    margin: 32px 0px 15px 61px;
}

.delivery__text2 {
    font-family: 'OpenSans-Regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 73%;
    margin: 17px 0px 9px 61px;
}

.learn {
    margin: 35px 0px 0px 61px;
}

.delivery-btn {
    width: 149px;
    height: 43px;
    font-family: 'OpenSans-Boldt', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 22px;
    background: #000000;
}

.delivery-btn:hover {
    background-color: #C29974;
}

.delivery-btn:active {
    background-color: #CFAF91;
}


.partners {
    display: flex;
    gap: 127px;
    margin-bottom: 57px;
}

.partners__list {
    margin: 41px 0 0 0;
    display: flex;
    align-items: center;
}

.two__column {
    display: flex;
    gap: 57px;
    padding-bottom: 41px;
    max-height: fit-content;
}

.about {
    display: block;
    min-height: fit-content;
    background: #E1F0F7;
    max-width: 543px;
    max-height: 229px;
}

.about-title {
    font-family: 'Montserrat-Bold', Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-left: 30px;
    margin-top: -24px
}

.about-text {
    font-family: 'crimson_textregular', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    padding: 10px 30px ;
}

.about-excerpt {
    font-family: 'OpenSans-Regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    padding: 0px 25px 13px 30px;
}

.about-btn__itme {
    font-family: 'OpenSans-Boldt', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 22px;
    background: #000000;
    margin: 7px 0px 0px 31px;
}

.about__title {
    font-family: 'Montserrat-Bold', Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: -22px;
    margin-top: -24px;
    margin-left: 31px;
}

.about-contacts-text {
    font-family: 'OpenSans-Regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;  
    background: #E1F0F7;
    padding: 42px 40px 103px 31px;
    max-width: 543px;
}

.about__map {
    margin-top: -68px;
    margin-left: 33px;
}


.contact__form {
    background-color: #E5EAF8;
    max-width: 680px;
    padding: 41px 40px 42px 40px;
}

.contact-name {
    margin-bottom: 19px;
}
.contact__lable {
    font-family: 'OpenSans-Regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
}
.contact__input {
    font-family: 'OpenSans-Regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606; 
    width: 600px;
    height: 50px;
    padding: 5px 10px 5px 20px;
    background-color: #fff;
    margin-top: 2px;
    border: 1px solid #00000033;
    padding: 5px 10px 5px 20px;
}

.contact__input:hover,
.contact__input:active {
    background: #FFFFFF;
    border: 1px solid #C29974;
}

.contact__input-form {
    width: 290px;
    height: 50px;
    border: 1px solid #00000033;
    padding: 5px 10px 5px 20px;
}

.contact__input-form:hover,
.contact__input-form:active {
    border: 1px solid #C29974;
}

.contact__lable-wrapper {
    margin-bottom: 11px;
}

.contact-input {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 9px;
}

.contact__area {
    border: 1px solid #00000033;
    padding: 5px 10px 5px 20px;
}

.contact__area:hover,
.contact__area:active {
    border: 1px solid #C29974;
}

.contact-agreement__lable {
    position: relative;
    padding-left: 32px;
    font-family: 'OpenSans-Regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}

.contact-agreement__lable::before,
.contact-agreement__lable::after {
    content: '';
    position: absolute;
    left: 0;
    width: 19px;
    height: 19px;
}

.contact__checkbox + .contact-agreement__lable::after {
    background-image: url(../pictures/check.svg);
}

.contact__checkbox:checked + .contact-agreement__lable::before {
    background-image: url(../pictures/aktivche.png);
}

.contact__btn {
    font-family: 'OpenSans-Bolb', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 22px;
    background-color: #000000;
    margin-top: 18px;
}

.contact__container {
    display: flex;
    top: 0;
    flex-direction: row-reverse;
    gap: 9px;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #7d97dacc;
    z-index: 1;
    margin-top: -49px;
    margin-left: 12px;
}

.hidden {
    display: none;
}

.contact__exit {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    width: 15px;
    height: 15px;
    background-image: url(../pictures/exit.svg);
    background-repeat: no-repeat;
    margin-bottom: 524px;
}

.contact__exit:hover {
    background-color: transparent;
    background-image: url(../pictures/exitHover.svg);
    background-repeat: no-repeat;
}

.contact__exit:active {
    background-image: url(../pictures/exitactive.svg);
    background-repeat: no-repeat;
}

.contact__lable,
.contact-agreement__lable {
    font-family: 'Roboto-Regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.contact__btn:disabled {
    background-color: #C1C1C1;
}