.banner{
    position: relative;
} 

.banner-title{
    position: absolute;
    width: 307px;
    height: 88px;
    left: 146px;
    top: 60px;
}

.banner-nav__list {
    margin-top: 129px;
    margin-left: 12px;
    width: 1180px;
    height: 411px;
    background: #EEE4DB;
}

.banner-btn__item{
    display: flex;
    width: 31px;
    height: 3px;
    margin-bottom: 11px;
    margin-left: 31px;
    background: #D6CAC2;
    border: 1px #D6CAC2;
}

.banner-btn__item:hover{
    color: #725F5B;
}

.banner-btn__item:active{
    color: #725F5B;
}

.banner-number {
    margin-top: 40px;
    margin-left: 28px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    color: #1e06060d;
}

.banner-text{
    position: absolute;
    left: 146px;
    top: 193px;
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606; 
}

.banner-picture__img {
    position: absolute;
    width: 635px;
    left: 460px;
    top: -95px;
    z-index: 1;
}

.banner__btn{
    position: absolute;
    width: 161px;
    height: 40px;
    left: 144px;
    top: 243px;

    display: flex;
    flex-direction: row;
    align-items: center;
    background: #000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.bt-text{
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}