*{
    border: none;
}

.toys-title{
    display: flex;
    margin-top: 59px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 60px;
}

.breadcrumps-list{
    display: flex;
    margin-left: 10px;
    gap: 21px;
    margin-bottom: 50px;
}

.breadcrumps__text{
    font-family: 'Crimson Text', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.breadcrumps-nav__img{
    margin-top: 8px;
}

.filtres{
    background-color: #7d97da33;
    height: 254px;
}

.filtres__form{
    display: flex;
    padding-top: 41px;
}

.cost{
    margin-right: 84px;
}

.color{
    margin-right: 56px;
}

.color__ceckbox{
    display: inline;
}

.delivery{
    margin-right: 43px;
}

.filter__title{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 8px;
    color: #1E0606;
}

.color, .delivery{
    display: flex;
    flex-direction: column;
}

.styled-slider{
    margin: 10px 0;
    width: 188px;
}

input[type=range].styled-slider {
    height: 4px;
    -webkit-appearance: none;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 24px + var(--ratio) * (100% - 24px));
}

input[type=range].styled-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 1em;
    background: #ffffff;
    border: 8px solid #C29974;
    box-shadow: none;
    margin-top: calc(4px * 0.5 - max(24px * 0.5,8px));
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 4px;
    border: none;
    border-radius: 0;
    background: #00000062;
    box-shadow: none;
}

input[type=range].styled-slider::-webkit-slider-thumb:hover {
    background: #ffffff;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
    background: #00000062;
}

input[type=range].styled-slider::-webkit-slider-thumb:active {
    background: #ffffff;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
    background: #00000094;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #00000094;
}

input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #00000094;
}

input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #00000094;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    width: max(calc(24px - 8px - 8px),0px);
    height: max(calc(24px - 8px - 8px),0px);
    border-radius: 1em;
    background: #ffffff;
    border: 8px solid #C29974;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-track {
    height: 4px;
    border: none;
    border-radius: 0;
    background: #00000062;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:hover {
    background: #ffffff;
}

input[type=range].styled-slider:hover::-moz-range-track {
    background: #00000062;
}

input[type=range].styled-slider::-moz-range-thumb:active {
    background: #ffffff;
}

input[type=range].styled-slider:active::-moz-range-track {
    background: #00000062;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #00000062;
}

input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #00000062;
}

input[type=range].styled-slider.slider-progress:active::-moz-range-track {
    background: linear-gradient(#C29974,#C29974) 0/var(--sx) 100% no-repeat, #00000062;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    width: 24px;
    height: 24px;
    border-radius: 1em;
    background: #ffffff;
    border: 8px solid #C29974;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
    height: 4px;
    border-radius: 0;
    background: #00000062;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:hover {
    background: #ffffff;
}

input[type=range].styled-slider:hover::-ms-track {
    background: #00000062;
}

input[type=range].styled-slider::-ms-thumb:active {
    background: #ffffff;
}

input[type=range].styled-slider:active::-ms-track {
    background: #00000062;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 4px;
    border-radius: 0px 0 0 0px;
    margin: -undefined 0 -undefined -undefined;
    background: #C29974;
    border: none;
    border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
    background: #C29974;
}

input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
    background: #C29974;
}

.color__list{
    width: 122px;
}

.color__item:not(:last-child){
    margin-bottom: 15px;
}

.color__lable{
    position: relative;
    padding-left: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.color__lable::after,
.color__lable::before{
    content: '';
    position: absolute;
    left: 0;
    width: 19px;
    height: 19px;
}

.color__ceckbox + .color__lable::after{
    background-image: url(../pictures/check.svg);
}

.color__ceckbox:checked + .color__lable::before{
    background-image: url(../pictures/aktivche.png);
}

.delivery__item:not(:last-child){
    margin-bottom: 10px;
}

.delivery__lable{
    position: relative;
    padding-left: 30px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606; 
}

.delivery__lable::after,
.delivery__lable::before{
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
}

.delivery__shipping + .delivery__lable::before{
    background-image: url(../pictures/radio.svg);
}

.delivery__shipping:checked + .delivery__lable::after{
    background-image: url(../pictures/radioact.png);
}

.amount__item{
    display: inline;
    margin: -4px;
    padding: 0;
}

.amount__lable{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    padding: 6px 23px;
    background: #ffffff; 
    cursor: pointer;
}

.amount__lable::after,
.amount__lable::before{
    content: '';
    background: #ffffff;
}


.amount__list, .amount__chek:checked + .amount__lable{
    background: #F3D0DB;
}

.amount__chek + .amount__lable::after{
    background: #F3D0DB;
}

.filter__btn-apply{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-left: 50px;
    margin-top: 37px;
    padding: 10px 22px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
}

.toys__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 59px;
    margin-left: 10px;
    gap: 47px 20px;
}

.toys__name{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    padding: 25px 8px 16px 9px
}

.toys__price{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606; 
}

.pages{
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}

.pages__list{
    display: flex;
    gap: 64px;
    padding: 4px 0px 14px 2px;
}

.pages__item-left,
.pages__item-right{
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: none; 
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
}


.pages__nav{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606; 
    gap: 64px;
}

.footer-block{
    padding-top: 100px;
}
